<?php
return [
    /* A descriptive name for your application */
    'name' => "{{name}}",

    /* The namespace of your application. Change this value only if you really know what you are doing. */
    'namespace' => "{{namespace}}"
];