/**
 * Initial default controller.
 * Generated on <?= $date ?> by Ntentan Dev Tool
 */
 
namespace <?= $namespace ?>\modules\home;

use ntenan\Controller;

class HomeController extends Controller
{
    public function index()
    {
    
    }
}
