<?php

/**
 * Initial default controller.
 * Generated on <?= $date ?> by Ntentan Dev Tool
 */
 
namespace {{namespace}}\modules\home;

use ntentan\Controller;

class HomeController extends Controller
{
    public function index()
    {
    
    }
}
