<?php
/**
 * Generated on {{date}} by Ntentan Dev Tool
 */

require "vendor/autoload.php";

ntentan\Router::mapRoute(
    'default', '{controller}/{action}/{*params}',
    ['default' => ['controller' => 'Home', 'action' => 'index']]
);

ntentan\Ntentan::start('{{namespace}}');

