<?php
/**
 * Generated on 2016-12-17 11:53:32 by Ntentan Dev Tool
 */

require "vendor/autoload.php";

use ntentan\Ntentan;

Ntentan::init('zefe');
Ntentan::getRouter()->mapRoute(
    'default', '{controller}/{action}/{*params}',
    ['default' => ['controller' => 'Home', 'action' => 'index']]
);
Ntentan::run();
