<?php

/**
 * Initial default controller.
 * Generated on {{date}} by Ntentan Dev Tool
 */
 
namespace site\controllers;

use ntentan\Controller;
use ntentan\View;

class HomeController extends Controller
{
    public function index(View $view)
    {
        return $view;
    }
}
