<?php
require "vendor/autoload.php";

use ntentan\Context;

$context = Context::initialize('{{namespace}}');
$context->getRouter()->mapRoute(
    'default', '{controller}/{action}/{*params}',
    ['default' => ['controller' => 'Home', 'action' => 'index']]
);
$context->execute();